<div>
    <header>
        <h1>Gimnasio FitLand</h1>
        <p>Tu lugar para mantenerte en forma y saludable</p>
    </header>

    <section id="introduction">
        <h2>Bienvenido al Gimnasio FitLand</h2>
        <p>
            En el Gimnasio FitLand, nos enorgullecemos de brindar un ambiente acogedor y amigable para ayudarte a alcanzar tus objetivos de acondicionamiento físico. Nuestro equipo de entrenadores altamente calificados está listo para ayudarte en cada paso del camino.
        </p>
    </section>

    <section id="services">
        <h2>Nuestros Servicios Destacados</h2>
        <ul>
            <li>
                <h3>Clases de Entrenamiento</h3>
                <p>Ofrecemos una variedad de clases de entrenamiento, desde yoga y pilates hasta entrenamiento de alta intensidad. ¡Siempre hay una clase adecuada para ti!</p>
                <h5>25$</h5>
                <button onclick="payMethods(25, 'Clases de Entrenamiento')" class="button">
                    <span class="button-content">Subscribirse </span>
                </button>
            </li>
            <li>
                <h3>Entrenamiento Personalizado</h3>
                <p>Nuestros entrenadores personales están disponibles para diseñar planes de entrenamiento personalizados que se adapten a tus necesidades y objetivos específicos.</p>
                <h5>55$</h5>
                <button onclick="payMethods(55, 'Entrenamiento Personalizado')" class="button">
                    <span class="button-content">Subscribirse </span>
                </button>
            </li>
            <li>
                <h3>Área de Cardio</h3>
                <p>Contamos con una amplia zona de cardio equipada con las últimas máquinas y equipos para ayudarte a mejorar tu resistencia y salud cardiovascular.</p>
                <h5>75$</h5>
                <button onclick="payMethods(75, 'Área de Cardio')" class="button">
                    <span class="button-content">Subscribirse </span>
                </button>
            </li>
        </ul>
    </section>

    <section id="contact">
        <h2>Contacto</h2>
        <p>¡Estamos emocionados de que te unas a nuestra comunidad de fitness! Contáctanos para obtener más información sobre nuestros servicios.</p>
        <p>Teléfono: 123-456-7890</p>
        <p>Email: info@fitlandgym.com</p>
    </section>

    <script src="/js/landingHome.js"></script>

    <footer>
        <p>&copy; {{year}} Gimnasio FitLand. Todos los derechos reservados.</p>
    </footer>
</div>