<div>
    <header>
        <h1>Gimnasio FitLand</h1>
    </header>

    <main>
        <div id="mainSuccessBuy">
            <h2>¡Compra Exitosa!</h2>
            <p>Gracias por tu compra. Has adquirido el plan "{{ option }}" en Gimnasio FitLand.</p>
            <p>¡Esperamos que disfrutes de nuestros servicios y te mantengas en forma!</p>
            <p>Pronto le estara llegando un mail con sus datos!</p>
            <img src="/img/gym2.webp" alt="gym 2">
            <a href="https://extraordinary-phoenix-b7fb9b.netlify.app/">
                <button >Volver al menu</button>
            </a>
        </div>
    </main>

    <footer>
        <p>&copy; {{year}} Gimnasio FitLand. Todos los derechos reservados.</p>
    </footer>
</div>